@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');

body {
    margin: 0;
}

.title {
    font-family: 'Montserrat';
    font-size: 6em;
}

@media only screen and (min-width: 1024px)  {
    .title {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
}

@media screen and (min-width: 400px) {  
    .graph-root {
        overflow: hidden;
    }
}


.login {
    font-family: 'Montserrat';
    font-size: 2em;
}

.montserrat {
    font-family: 'Montserrat'
}