@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');

.title {
    font-family: 'Montserrat';
    font-size: 6em;
    margin-top: 1.5em;
}

.login {
    font-family: 'Montserrat';
    font-size: 2em;
}

.montserrat {
    font-family: 'Montserrat'
}